3uzduotis/WSDL.xml

<wsdl:definitions xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="tns" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="tns" name="TicketsService">
<wsdl:types>
<xs:schema targetNamespace="tns" elementFormDefault="qualified">
<xs:complexType name="Ticket">
<xs:sequence>
<xs:element name="Rated" type="xs:string" minOccurs="0" nillable="true"/>
<xs:element name="barcode" type="xs:string" minOccurs="0" nillable="true"/>
<xs:element name="Current_Zone" type="xs:string" minOccurs="0" nillable="true"/>
<xs:element name="EID" type="xs:string" minOccurs="0" nillable="true"/>
<xs:element name="ID" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTickets"/>
<xs:complexType name="DefaultMessage">
<xs:sequence>
<xs:element name="Message" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TicketArray">
<xs:sequence>
<xs:element name="Ticket" type="tns:Ticket" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTicket">
<xs:sequence>
<xs:element name="ticketID" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="hello">
<xs:sequence>
<xs:element name="str" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTicketResponse">
<xs:sequence>
<xs:element name="getTicketResult" type="tns:Ticket" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTicketsResponse">
<xs:sequence>
<xs:element name="getTicketsResult" type="tns:TicketArray" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="helloResult" type="tns:DefaultMessage" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Ticket" type="tns:Ticket"/>
<xs:element name="getTickets" type="tns:getTickets"/>
<xs:element name="DefaultMessage" type="tns:DefaultMessage"/>
<xs:element name="TicketArray" type="tns:TicketArray"/>
<xs:element name="getTicket" type="tns:getTicket"/>
<xs:element name="hello" type="tns:hello"/>
<xs:element name="getTicketResponse" type="tns:getTicketResponse"/>
<xs:element name="getTicketsResponse" type="tns:getTicketsResponse"/>
<xs:element name="helloResponse" type="tns:helloResponse"/>
</xs:schema>
</wsdl:types>
<wsdl:message name="getTicket">
<wsdl:part name="getTicket" element="tns:getTicket"/>
</wsdl:message>
<wsdl:message name="getTicketResponse">
<wsdl:part name="getTicketResponse" element="tns:getTicketResponse"/>
</wsdl:message>
<wsdl:message name="hello">
<wsdl:part name="hello" element="tns:hello"/>
</wsdl:message>
<wsdl:message name="helloResponse">
<wsdl:part name="helloResponse" element="tns:helloResponse"/>
</wsdl:message>
<wsdl:message name="getTickets">
<wsdl:part name="getTickets" element="tns:getTickets"/>
</wsdl:message>
<wsdl:message name="getTicketsResponse">
<wsdl:part name="getTicketsResponse" element="tns:getTicketsResponse"/>
</wsdl:message>
<wsdl:service name="TicketsService">
<wsdl:port name="TicketsService" binding="tns:TicketsService">
<soap:address location="http://localhost:5000/soap/tickets"/>
</wsdl:port>
</wsdl:service>
<wsdl:portType name="TicketsService">
<wsdl:operation name="getTicket" parameterOrder="getTicket">
<wsdl:input name="getTicket" message="tns:getTicket"/>
<wsdl:output name="getTicketResponse" message="tns:getTicketResponse"/>
</wsdl:operation>
<wsdl:operation name="hello" parameterOrder="hello">
<wsdl:input name="hello" message="tns:hello"/>
<wsdl:output name="helloResponse" message="tns:helloResponse"/>
</wsdl:operation>
<wsdl:operation name="getTickets" parameterOrder="getTickets">
<wsdl:input name="getTickets" message="tns:getTickets"/>
<wsdl:output name="getTicketsResponse" message="tns:getTicketsResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TicketsService" type="tns:TicketsService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getTicket">
<soap:operation soapAction="getTicket" style="document"/>
<wsdl:input name="getTicket">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getTicketResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="hello">
<soap:operation soapAction="hello" style="document"/>
<wsdl:input name="hello">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="helloResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getTickets">
<soap:operation soapAction="getTickets" style="document"/>
<wsdl:input name="getTickets">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getTicketsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
</wsdl:definitions>